<%= simple_form_for historic_capture, :html => { :class => 'historic_visit_form my_container' }  do |f| %>
	<%= f.error_messages %>
      <%= f.hidden_field :capture_owner_id, value: @historic_capture.capture_owner_id%>
      <%= f.hidden_field :capture_owner_type, value: @historic_capture.capture_owner_type%>
	<%= render 'historic_captures/historic_capture_fields', f: f %>
	<p><%= f.button :submit, "Submit"%></p>
<% end %>
