<fieldset class='historic_capture my_container'>
<p>
  <% if !params[:controller].nil? && params[:controller]=='historic_visits'%>
    <%= f.hidden_field :_destroy  %> <%# this hidden field must precede the link_to below. see javascript in form.js.erb%>
    <%= link_to "Remove this capture", '#', class: "remove_fields" %>
  <% end %>
  <%= f.input :fn_photo_reference, label: HistoricCapture.human_attribute_name(:fn_photo_reference)%>
  <%= f.input :digitization_location, label: HistoricCapture.human_attribute_name(:digitization_location)%>
  <%= f.input :digitization_datetime, start_year: 1826, end_year: Time.now.year, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year', :hour => "Select hour", :minute => "Select minute" }, label: HistoricCapture.human_attribute_name(:digitization_datetime)%>
  <%= f.input :comments, label: HistoricCapture.human_attribute_name(:comments) %>
  <h4>Camera Information</h4>
  <!-- Note that the camera_info_fields div must follow the camera_info_link anchor in order for some jquery to work properly -->
  <a class='camera_info_link'>Click here to edit camera related fields</a>
  <div class='camera_info_fields'>
  <%= f.association :camera, collection: Camera.all.map {|camera| [camera.display_name, camera.id.to_s ]} %>
  <%= f.association :lens, collection: Lens.all.map {|lens| [lens.display_name, lens.id.to_s ]} %>
  <%= f.input :focal_length, label: HistoricCapture.human_attribute_name(:focal_length)%>
  <%= f.input :f_stop, label: HistoricCapture.human_attribute_name(:f_stop)%>
  <%= f.input :shutter_speed, label: HistoricCapture.human_attribute_name(:shutter_speed)%>
  </div>
  <h4>Library Archives Canada (LAC) Information</h4>
  <!-- Note that the lac_info_fields div must follow the lac_info_link anchor in order for some jquery to work properly -->
  <a class='lac_info_link'>Click here to edit LAC related fields</a>
  <div class='lac_info_fields'>
  <%= f.input :lac_ecopy, label: HistoricCapture.human_attribute_name(:lac_ecopy)%>
  <%= f.input :lac_wo, label: HistoricCapture.human_attribute_name(:lac_wo)%>
  <%= f.input :lac_collection, label: HistoricCapture.human_attribute_name(:lac_collection)%>
  <%= f.input :lac_box, label: HistoricCapture.human_attribute_name(:lac_box)%>
  <%= f.input :lac_catalogue, label: HistoricCapture.human_attribute_name(:lac_catalogue) %>
  </div>
  <% unless f.object.capture_owner_type=='Survey' || f.object.capture_owner_type=='SurveySeason' || f.object.capture_owner_type=='Project'%>
  	<%= f.association :captures, collection: @captures_from_station, input_html: { class: 'captures_select'} %>
  <% else %>
    <p>Note: You cannot create comparisons to a historic capture unless the historic capture is associated with a station.</p>
  <% end %>


</p>
<div class='capture_image my_container'>
<h4>Capture Images</h4>
<div class='row-fluid column_header'>
  <div class='span3'>Image</div>
  <div class='span3'>Image State</div>
  <div class='span3'>Make Remote</div>
  <div class='span3'>Delete</div>
  </div>

<%= f.fields_for :capture_images do |builder| %>
  <%= render 'capture_images/capture_image_fields', f: builder %>
<% end %>

<p><%= link_to_add_fields "Add capture image",f, :capture_images %></p>
</div>


</fieldset>
