<% if historic_captures.present? %>
<ul class='thumbnails'>
  <%= render partial: 'historic_captures/missing_comparison', collection: historic_captures %>
</ul>
<% else %>
<p>All historic captures have comparisons</p>
<% end %>
