<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
      menu = Menu.new("Historic Capture",:boostrap)
      if current_user.try(:admin)
        menu.add link: link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_historic_capture_path(@historic_capture.id), class: 'edit_link')
        menu.add_delete(url_for(@historic_capture), "Are you sure you want to delete this historic capture and its capture images?")
      end
      menu.to_html
    %>
<% end %>
