<%= content_tag :div, class: "submenu_bar" do  %>
  <%= Menu.new("Edit Historic Capture",:boostrap).to_html %>
<% end %>
<div class="data-pane-body">
  <%= breadcrumb_div(@historic_capture, separator: "/", with_self: true).html_safe %>
  <%= render 'form', historic_capture: @historic_capture%>
</div>
