<%= content_tag :div, class: "submenu_bar" do  %>
  <%= Menu.new("Add New Historic Capture",:boostrap).to_html %>
<% end %>
<div class='data-pane-body'>
  <%= render "form", historic_capture: @historic_capture %>
</div>
