<table class='table table-bordered' >
  <tfoot>Total Surveyor Based Stations: <%= Station.where({station_owner_type: station_parent_type} ).count %></tfoot>
  <tbody>
    <% Station.send(filters_type).each do |filter| %>
      <tr>
          <td class='filter_column'><%= t("filters.#{filter.to_s}.short_name", :default => filter.to_s) %></td>
          <td class='stat_column'><%= Station.where({station_owner_type: station_parent_type} ).send(filter).count/Station.where({station_owner_type: station_parent_type }).count.to_f*100 %> %</td>
      </tr>
    <% end %>
  </tbody>
</table>
