<h1>FAQ</h1>
<p class='faq-question'> How can I delete Surveyors, Surveys, Survey Seasons, and Projects?</p>
<p> Any admin user can delete these objects as long as they don't contain any children objects (e.g. a survey would have survey seasons and potentially unsorted captures). Deleting these objects when they contain data can only be done by the super admin account (sunyata@uvic.ca). Contact the project leads if you need access to this account.</p>

<p class='faq-question' id='3fr_funny'>Why do 3FR images look different (darker, hue shift) compared to other related capture images?</p>

<p>Short Answer: You are viewing a preview image of a raw image. When a preview image is created from a raw image, some parameters have to be guessed, which result is a slightly different looking image.</p>
<p>Long Answer: The images that you see inside of the MEAT application are downsized versions of the original. When a downsized version is created from a jpeg or tiff, the new image will resemble the original almost exactly because the pixel in the original image is of a fixed color and intensity. When the same process is applied to a 3FR image, the process isn’t as straightforward because the image is in raw format. Raw images contain more information, where the value at each pixel can vary based on a number of parameters supplied to the raw format (e.g. white balance). In other words, a certain recipe of parameters is used to make the 3FR look a certain way when viewing it on your computer. Because we can’t use Hasselblad’s processing software programmatically, we have to rely on open source software to make the downsized version, which does some guessing in when trying to creat the “right” recipe. The result is a preview image that might not look exactly like the other versions of this image. Don’t worry though, when you view the original 3FR image in the proper software (i.e. Phocus), it should look fine.</p>

<p class='faq-question' id='corrupt_image'>When browsing through the library (using the MEAT application) I found an image that doesn’t look “right” (e.g. it should be a scenic landscape, but it’s a bunch of colours and lines) . What happened?</p>

<p>One possibility is that the original file is corrupted. You can find out by trying to open the original (if you are not using MEAT within the lab, you may have to download it first) in Phocus (for fffs and 3FRs) or Photoshop. If the image doesn’t open (an error is shown), it is corrupted. You may need to track down a copy of this image in our archives. If the file is not corrupt, please contact an administrator.</p>

<p class='faq-question' id='image_unavailable'>When browsing through the library, all the images shown say “No Preview Image Available”. What happened? </p>

<p>The MLP Library may not be mounted on the server. If you are an administrator, see <a href='#how_mount'>“How do I mount the MLP Library”</a>, otherwise contact the administrator.</p>

<p class='faq-question' id='loading_icon'>Why do I see a loading icon after I upload an image?</p>

<p>When you import an image, it needs to be processed by the application into downsized versions. If you are loading a bunch of images at once, there may be a waiting queue. In this case, you just need to wait a bit then refresh your page. If the image has been “loading” for a long time, then the background process server might not be running (this might occur if the server has been restarted). In this case, it’s best to contact an administrator, however, if he/she is unavailable, try the following:</p>
<ol>
<li>In Mac OSX, open the Applications folder</li>
<li>In the Applications folder, find Utilites>Terminal. Launch this program.</li>
<li>Cut and paste this command: “/rails_applications/deployments/meat/current/bundle exec sidekiq -q carrierwave” into the Terminal (do not include quotation marks). Press enter. Do not close the Terminal window (you can hide it though).</li>
</ol>

<p class='faq-question' id='where_library'>Where is the MLP Library located?</p>

<p>The MLP Library is not located directly on the server, but rather on a server at UVIC where it is periodically backed up. The server, however, needs direct access to these files and folder. To do this, the folder where the MLP Library is stored is mounted onto the server’s filesystem. When mounted, a folder will appear on the sidebar of Finder named “mlp” (alternatively, the filesystem location is “/Volumes/mlp”). Underneath this folder reside another folder MLPLibraryNew, which is the root directory of the MLP Library. For all intensive purposes, you should never interact directly with the files underneath this directory, but rather use the MEAT application to do so.</p>

<p class='faq-question' id='how_mount'>How do I mount the MLP Library?</p>

<ol>
<li>On the iMac (where the application is run), Open Finder.</li>
<li>In the menu, choose Go->Connect to Server</li>
<li>Select "cifs://rsfshare.rsf.uvic.ca".</li>
<li>You will be prompted for login information. Enter your uvic netlink id as “UVIC\(netlinkid)”, followed by your password. If accessed denied, see question <a href='#accessed_denied'>“Why can’t I mount the mlp share?”</a></li>
</ol>

<p class='faq-question' id="accessed_denied">Why can’t I mount the mlp share?</p>

<p>You probably don’t have permission to do so (this is especially the case if you are new to the project). You’ll need to request access by sending an email to sysadmin@uvic.ca, telling them to add your netlink id to the “esmlp” user group (this might have to be done by ehiggs@uvic.ca or chris.gat@gmail.com).</p>



