<%= content_tag :div, class: "submenu_bar" do
 Menu.new("Home",:boostrap).to_html
 end %>
 <div class='data-pane-body'>
<h1>Introduction</h1>
<p>The MLP Editing and Administering Tool, also known as the MEAT tool, is a ruby-on-rails application that has been developed to help organize the MLP data assets. It uses a relational database (currently postgresql) to store project objects and the relationships between them, while providing a web interface to edit and administer these objects and their relationships. A key feature of MEAT is that it also maintains a navigable file structure for data storage on the backend (as opposed to a flat file storage). </p>
<h2>Getting Started</h2>
<p>Just a couple quick pointers:
	<ol>
		<li>Make sure you are connected to the CIFS/SAMBA server before using this application. Open Finder. Go->Connect to Server. Select "cifs://rsfshare.rsf.uvic.ca". Enter your uvic login info.</li>
		<li>Navigate the MLP Library using the navigation on the right hand side. Click on the nodes in the tree. This pane (the data pane) will update with information relevant to that node.</li>
		<li>The files for this application are stored at /Volumes/mlp/MLPLibraryNew. For all intensive purposes, you should always use this application to interact with files and folders stored under this directory.</li>
		<li>Check out the <a href='/user_guide'>User Guide</a> for more info. It's a work in progress, but should help you out</li>
		<li>Any problems, contact chris.gat@gmail.com</li>
	</ol>
</p>
<% if current_user.try(:admin) %>
<h1>Work Dashboard</h1>
<p>The work dashboard provides a quick way to determine the state of the overall MEAT system. All statistics are generated based on the state of stations and divided into two categories: health and process. Statistics are further subdivided between stations that are organized in the surveyor and project hierarchies. This divsion is due to the fact that project based stations tend to have more issues, which are harder to resolve (i.e. the firelooks, where we don't have the historic captures, since they are in the fire towers).</p>
<p>With the health statistics, your goal should be fix as many as the problems as possible, lowering these percentages to as close to zero as possible. With the processing state statistics, your goals should be to move as many stations to the mastered state as possible.
<h2>Station Health Statistics</h2>
<p>The health of a station is determined by its inclusion in the set of subcategories listed below. This labelling is determined programmatically, so the only way to make a station healthy is to address its issues. Note that a station may have issues that extend across multiple categories. Currently, the best way to determine if a station is part of a specific health category is to use the filter feature in the navigation pane.</p>
<h3>Surveyor Based Stations</h3>
  <%= render 'static_pages/stats',  station_parent_type: 'SurveySeason',  filters_type: 'issue_filters' %>
<h3>Project Based Stations</h3>
  <%= render 'static_pages/stats',  station_parent_type: 'Project',  filters_type: 'issue_filters' %>
<h2>Station Processing State Statistics</h2>
<p>A station will go through several states before being completed. These statistics breakup stations into the processing states: grouped, located (but not repeated), repeated (but not mastered), and finally mastered.</p>
<h3>Surveyor Based Stations</h3>
  <%= render 'static_pages/stats',  station_parent_type: 'SurveySeason',  filters_type: 'process_filters' %>
<h3>Project Based Stations</h3>
  <%= render 'static_pages/stats',  station_parent_type: 'Project',  filters_type: 'process_filters' %>
<% end %>
</div>

