<%= content_tag :div, class: "submenu_bar" do  %>
  <%= Menu.new("Request Admin Account",:boostrap).to_html %>
<% end %>
<p>By entering in your email and password below you'll create a MEAT user account. Once you've done this, please notify (either verbally or by email)
  an admin and they will grant you access. Current administrators: chris.gat@gmail.com, ehiggs@uvic.ca</p>
<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :email, :required => true, :autofocus => true %>
    <%= f.input :password, :required => true %>
    <%= f.input :password_confirmation, :required => true %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
