
<%= simple_form_for station, :html => { :class => 'visit_form my_container' }  do |f| %>
		<%= f.error_messages %>
		<%= f.hidden_field :station_owner_id, value: @station.station_owner_id%>
		<%= f.hidden_field :station_owner_type, value: @station.station_owner_type%>
		<%= f.input :name%>
		<%= render 'shared/lat_long_fields', f:f %>
		<%= render 'metadata_files/metadata_file_fields_table', f:f %>
		<p><%= f.button :submit, "Submit"%></p>
<% end %>
