<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
    menu = Menu.new("Station",:boostrap)
    if current_user.try(:admin)
      menu.add link:  link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_station_path(@station.id), class: 'edit_link')
      menu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Visit'></span>Add Visit".html_safe, new_station_visit_path(@station))
      menu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Historic Visit'></span>Add Historic Visit".html_safe, new_station_historic_visit_path(@station)) if @station.historic_visit.blank?
      submenu = Menu.new("<span class='icomoon-menu submenu_icon' title='More Options'></span>", :sub)
      submenu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Unsorted Capture'></span>Add Unsorted Capture".html_safe, new_station_capture_path(@station.id))
      submenu.add link: link_to("Open Old Station Folder", "/stations/#{@station.id}/open_old", remote: true), display: client_on_server?
      menu.add submenu
      menu.add_delete(url_for(@station), "Are you sure you want to delete this station and its visits, locations, captures, and capture images?")
    end
    menu.to_html
  %>
<% end %>
