<%= content_tag :div, class: "submenu_bar" do  %>
<%= Menu.new("Edit Station",:boostrap).to_html %>
<% end %>
<div class='data-pane-body'>
  <%= breadcrumb_div(@station, separator: "/", with_self: true).html_safe %>
<%= render 'form', station: @station %>
</div>
