<% disable_publish = @publisher_form.update_criteria_captures.blank? && @publisher_form.update_criteria_historic_captures.blank? %>
<div class="submenu_bar">
  <%= Menu.new("Publisher",:boostrap).to_html %>
</div>
<div class='data-pane-body'>
<div class='publisher_intro'>
<p>The publisher assists in publishing MLP content to our public facing website. When the 'Update Published Content' button is pressed, system content will be compared with the current update criteria setting for each object type that can be published publically (currently only Captures, Historic Captures, and Location Images).
</p>
<p> The 'Published Content Overview' section gives a brief overview of the percentage of objects currently published/unpublished in addition to showing how many objects will be published/unpublished if an update is executed with the current settings.
<p>
<p> Publishing a capture/historic capture/location image requires that are server generates smaller versions of the images and uploads them to a remote location. This process can be fairly costly in turns of computation, especially when large batches of images need to be published. When you press the 'Update Published Content' button, each object publication is pushed to a background job, meaning that you can continue to use MEAT while the publication process occurs. This also means that publication is for all intended objects is not instanteous. An overview of the jobs being processed and queued for processing can be seen in the 'Published Content Overview' section. It is advisable to not update publisher when jobs are currently being processed or queued for processing.
</p>
</div>
<h4>Published Content Overview</h4>
<div class='well' id='published_content_overview'>
  <div id='capture_legend'></div>
  <div class='row-fluid'>
    <div class='span6'>
      <span class='content_overview_object_title'>Captures(<%= @publisher_form.captures_data.inject(0){|m,v|m+=v[:value]}%>)</span>
      <%= content_tag :canvas, "", id: 'capture_chart', width: '150', height: '150', data: { content: @publisher_form.captures_data } %>
    </div>
    <div class='span6'>
      <span class='content_overview_object_title'>Historic Captures(<%= @publisher_form.historic_captures_data.inject(0){|m,v|m+=v[:value]}%>)</span>
      <%= content_tag :canvas, "", id: 'historic_capture_chart', width: '150', height: '150', data: { content: @publisher_form.historic_captures_data } %>
    </div>
  </div>
  <div><span class='job_title'>Jobs Currently Processing</span>: <span class='job_count'><%= @publisher_form.jobs_processing %></span></div>
  <div><span class='job_title'>Jobs Currently Queued</span>: <span class='job_count'><%= @publisher_form.jobs_queued %></span></div>
</div>
<h4>Current Settings</h4>
<div class='well' id='publisher_current_settings'>
    <p>Update Criteria For Captures: <%= @publisher_form.criteria_captures_human_name %></p>
    <p>Update Criteria For Historic Captures: <%= @publisher_form.criteria_historic_captures_human_name %></p>
    <p id='missing_publisher_settings'>'<%= link_to "Go to Settings", settings_path %>' to configure update criteria.</p>
</div>
<%= simple_form_for @publisher_form, url: publisher_path do |f| %>
  <%= f.error_messages %>

  <%= f.button :submit, "Update Published Content", disabled: disable_publish %>
<% end %>
</div>
