<%= f.input :location_photos, as: :file, input_html: {multiple: true} %>
<% @lp_count = f.object.location_photos.count %>
<% if @lp_count>0 %>
  <table class='table' id='location_photos_fields_table'>
    <tr class='column_header'>
      <th>Location Photo</th>
      <th>Make Remote</th>
      <th>Delete</th>
    </tr>
    <%= f.fields_for :location_photos do |builder| %>
      <%= render 'location_images/location_image_fields', f: builder %>
    <% end %>
  </table>
<% end %>
