<tr>
<td><%= link_to_if f.object.file_present? && client_on_server?, f.object.display_name, open_location_image_path, data: { confirm: "IMPORTANT! Never change the name of an opened file via an external application." }, remote: true%></td>
 <td><%= f.input :remote, as: :boolean,  label: false, :input_html => { :checked => f.object.image_remote.blank? ? '' : 'checked' }, class: 'remote_check_box' %></td>
<td><%= f.check_box :_destroy, class: 'delete_check_box' %></td>
</tr>
