<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
      menu = Menu.new("Location Photo",:boostrap)
      menu.add link: link_to("Download", download_location_image_path, {:data => {skip_pjax: true}} ), display: @location_image.file_present?
      menu.add link: link_to("Open", open_location_image_path, data: { confirm: "IMPORTANT! Never change the name of an opened file via an external application." }, remote: true), display: @location_image.file_present? && client_on_server? && current_user.try(:admin)
      menu.add link: link_to("Delete", @location_image, method: :delete, data: { confirm: "Are you sure you want to delete this location photo?" }), display: current_user.try(:admin)
      menu.to_html
   %>
<% end %>
