
<%= simple_form_for historic_visit, html: { class: 'historic_visit_form my_container' } do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field :station_id, value: @historic_visit.station.id%>
	<%= f.input :date, label: "Date of Historic Visit", start_year: 1826, end_year: Time.now.year, :prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' } %><br />
	<%= f.input :comments, input_html: { rows: 3}%>
	<h3>Historic Captures</h3>

	<%= f.fields_for :historic_captures do |builder| %>
	  		<%= render 'historic_captures/historic_capture_fields', :f => builder %>
	<% end %>

	<p><%= link_to_add_fields "Add historic capture", f, :historic_captures %></p>

 	<p><%= f.button :submit, "Submit" %></p>
<% end %>
