<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
      menu = Menu.new("Historic Visit",:boostrap)
      if current_user.try(:admin)
        menu.add link: link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_historic_visit_path(@historic_visit.id), class: 'edit_link')
        menu.add link: link_to("<span class='icomoon-add-to-list submenu_icon icon_next_to_word' title='Bulk Historic Capture Import'></span>Bulk Historic Capture Import".html_safe, new_bulk_import_form_path(parent_id: @historic_visit.id, parent_class: @historic_visit.class.name, association: "historic_captures"))
        menu.add_delete(url_for(@historic_visit), "Are you sure you want to delete this historic visit and its captures, and capture images?")
      end
      menu.to_html
    %>
<% end %>
