<%= content_tag :div, class: "submenu_bar" do  %>
  <%= Menu.new("Edit Historic Visit",:boostrap).to_html %>
<% end %>
<div class='data-pane-body'>
  <%= breadcrumb_div(@historic_visit, separator: "/", with_self: true).html_safe %>
<%= render "form", historic_visit: @historic_visit %>
</div>
