<%= content_tag :div, class: "submenu_bar" do  %>
  <%= Menu.new("Add New Historic Visit",:boostrap).to_html %>
<% end %>
<div class='data-pane-body'>
  <%= render "form", historic_visit: @historic_visit %>
</div>
