

<%= simple_form_for visit, :html => { :class => 'visit_form my_container' }  do |f| %>
		<%= f.error_messages %>
		<%= f.hidden_field :station_id, value: @visit.station.id%>
		<%= f.input :date, start_year: 1826, end_year: Time.now.year, input_html: { class: 'input-small'} %>
		<%= f.input :start_time, include_blank: true, input_html: { class: 'input-mini'}%>
		<%= f.input :finish_time, include_blank: true, input_html: { class: 'input-mini'}%>
		<%= f.association :photographers, collection: Participant.order(:given_names).map { |p| [p.given_names+' '+p.last_name, p.id.to_s]}, label: 'Photographer(s) (<a href="#photographer_new_modal" data-toggle="modal">Create New Participant</a>)'.html_safe %>
		<%= f.association :fn_authors, collection: Participant.order(:given_names).map { |p| [p.given_names+' '+p.last_name, p.id.to_s]}, label: 'Field note author(s) (<a href="#fn_author_new_modal" data-toggle="modal">Create New Participant</a>)'.html_safe  %>
		<%= f.association :hiking_party_participants, collection: Participant.order(:given_names).collect{ |p| [p.given_names+" "+p.last_name, p.id]}, label: 'Hiking Party (<a href="#hiking_party_participant_new_modal" data-toggle="modal">Create New Participant</a>)'.html_safe %>
		<%= f.association :keywords, collection: Keyword.order(:keyword).collect{ |k| [k.keyword, k.id]}, label: 'Keyword (<a href="#keyword_new_modal" data-toggle="modal">Create New Keyword</a>)'.html_safe %>
		<%= f.input :pilot %>
		<%= f.input :rw_call_sign %>
		<%= f.input :visit_narrative, input_html: { rows: 8, class: 'span10'} %>
		<%= f.input :illustration %>
		<%= f.input :weather_narrative, input_html: { rows: 8, class: 'span10'} %>
		<div class='row-fluid'>
			<div class='span3'>
				<p><%= f.object.class.human_attribute_name(:weather_temp) %></p>
				<div class='input-append'><%= f.input_field :weather_temp, class: 'input-mini' %><span class='add-on'>&deg;</span></div>
			</div>
			<div class='span3'>
				<p><%= f.object.class.human_attribute_name(:weather_ws) %></p>
				<div class='input-append'><%= f.input_field :weather_ws, class: 'input-mini' %><span class='add-on'>km/h</span></div>
			</div>
			<div class='span3'>
				<p><%= f.object.class.human_attribute_name(:weather_gs) %></p>
				<div class='input-append'><%= f.input_field :weather_gs, class: 'input-mini' %><span class='add-on'>km/h</span></div>
			</div>
		</div>
		<div class='row-fluid'>
			<div class='span3'>
				<p><%= f.object.class.human_attribute_name(:weather_rh) %></p>
				<div class='input-append'><%= f.input_field :weather_rh, class: 'input-mini' %><span class='add-on'>%</span></div>
			</div>
			<div class='span3'>
				<p><%= f.object.class.human_attribute_name(:weather_wb) %></p>
				<div class='input-append'><%= f.input_field :weather_wb, class: 'input-mini' %><span class='add-on'>&deg;C</span></div>
			</div>
			<div class='span3'>
				<p><%= f.object.class.human_attribute_name(:weather_pressure) %></p>
				<div class='input-append'><%= f.input_field :weather_pressure, class: 'input-mini' %><span class='add-on'>hPa</span></div>
			</div>
		</div>
		<%= render 'field_notes/field_note_fields_table', f: f %>
		<%= f.input :fn_physical_location, input_html: { class: "input-xlarge", placeholder: "Book 1, 2008, pg. 12-14 or Binder 1, 2009" } %>
		<%= f.input :fn_transcription_comment, input_html: { rows: 8, class: 'span10'} %>
		<%= render 'metadata_files/metadata_file_fields_table', f:f %>
		<h2> Locations </h2>
		<div id="nested_locations">
		<%= f.fields_for :locations do |builder| %>
			<%= render "locations/location_fields", :f => builder %>
		<% end %>

		<%= link_to_add_fields "Add location", f,  :locations %>
		</div>
		<p></p>
		<p><%= f.button :submit, "Submit"%></p>
<% end %>
<%= render 'keywords/new_modal', keyword: @keyword %>
<%= render 'participants/new_modal', participant: @participant, participant_type: "photographer" %>
<%= render 'participants/new_modal', participant: @participant, participant_type: "fn_author" %>
<%= render 'participants/new_modal', participant: @participant, participant_type: "hiking_party_participant" %>
