<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
    menu = Menu.new("Visit",:boostrap)
    if current_user.try(:admin)
      menu.add link: link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_visit_path(@visit.id), class: 'edit_link')
      submenu = Menu.new("<span class='icomoon-menu submenu_icon' title='More Options'></span>", :sub)
      submenu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Unsorted Capture'></span>Add Unsorted Capture".html_safe, new_visit_capture_path(@visit.id))
      submenu.add link: link_to("<span class='icomoon-add-to-list submenu_icon icon_next_to_word' title='Bulk Capture Import'></span>Bulk Capture Import".html_safe, new_bulk_import_form_path(parent_id: @visit.id, parent_class: @visit.class.name, association: "unsorted_captures"))
      menu.add submenu
      menu.add_delete(url_for(@visit), "Are you sure you want to delete this visit and its locations, captures, and capture images?")
    end
    menu.to_html
    %>
<% end %>
