<%= content_tag :div, class: "submenu_bar" do  %>
  <%= Menu.new("Edit Visit",:boostrap).to_html %>
<% end %>
<div class='data-pane-body'>
  <%= breadcrumb_div(@visit, separator: "/", with_self: true).html_safe %>
  <%= render "form", visit: @visit %>
</div>
