<% if Capture.missing_comparisons.where_parent(visit).present?  %>
  <%
  content_for "#{tab_name}_title" do
    "Missing Comparisons"
  end
  content_for "#{tab_name}_icon" do
  "<span class='icomoon-question tabs_icon pull-left' title='Missing Comparisons'></span>".html_safe
end
  content_for "#{tab_name}_id" do
    "visit_missing_comparisons_tab_#{visit.id}"
  end
  content_for "#{tab_name}_pane" do
     render 'captures/missing_comparisons_grid', captures: Capture.missing_comparisons.where_parent(visit)
  end
  %>
<% end%>
