
<%
content_for "#{tab_name}_title" do
  "Location Photos"
end
content_for "#{tab_name}_icon" do
  "<span class='icomoon-image tabs_icon pull-left' title='Location Photos'></span>".html_safe
end
content_for "#{tab_name}_id" do
  "visit_location_photos_tab_#{visit.id}"
end
content_for "#{tab_name}_pane" do
  "<p>Location photos with the multidirectional arrow icon in the top left hand corner indicate that the image is currently".html_safe+\
  " not sorted in a location and needs to be moved into one. Drag to the image into a location in the navigation tree.</p>".html_safe + \
  render('location_images/location_images_grid', location_images: visit.location_photos, only_unsorted_are_moveable: true)
end
%>

