<% if visit.metadata_files.present? %>
  <%
  content_for "#{tab_name}_title" do
    "Metadata Files"
  end
  content_for "#{tab_name}_icon" do
    "<span class='icomoon-file tabs_icon pull-left' title='Metadata Files'></span>".html_safe
  end
  content_for "#{tab_name}_id" do
    "visit_metadata_files_tab_#{visit.id}"
  end
  content_for "#{tab_name}_pane" do
    render 'metadata_files/metadata_files_table', metadata_files: visit.metadata_files
  end
  %>
<% end %>
