<%= simple_form_for [@survey_season, @map], :html => { :class => 'well my_container' }  do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :survey_season_id, :value => @survey_season.id %>
  <%= f.input :nts_map %>
  <%= f.input :historic_map %>
  <%= f.input :links %>
  <p><%= f.button :submit, "Submit"%></p>
<% end %>