<% if historic_visit.historic_captures.missing_comparisons.present? %>
  <%
  content_for "#{tab_name}_title" do
    "Missing Comparisons"
  end
  content_for "#{tab_name}_id" do
    "historic_visit_missing_comparisons_tab_#{historic_visit.id}"
  end
  content_for "#{tab_name}_pane" do
     render 'historic_captures/missing_comparisons_grid', historic_captures: historic_visit.historic_captures.missing_comparisons
  end
  %>
<% end%>
