<fieldset class='capture my_container'>
<p>
  <% if params[:controller].present? && params[:controller]=='visits'%>
  	<%= f.hidden_field :_destroy  %> <%# this hidden field must precede the link_to below. see javascript in form.js.erb%>
  	<%= link_to "Remove this capture", '#', class: "remove_fields" %>
  <% end %>
  <%= f.input :fn_photo_reference %>
  <%= f.input :alternate, label: Capture.human_attribute_name(:alternate)%>
  <p>Azimuth</p>
  <div class='input-append'><%= f.input_field :azimuth, class: 'input-mini' %><span class='add-on'>&deg;</span></div>
  <%= render 'shared/lat_long_fields', f:f %>
  <%= f.input :comments %>
  <% unless f.object.capture_owner_type=='Survey' || f.object.capture_owner_type=='SurveySeason' || f.object.capture_owner_type=='Project'%>
  	<%= f.association :historic_captures, collection: @historic_captures_from_station, input_html: { class: 'historic_captures_select'} %>
  <% else %>
    <p>Note: You cannot create comparisons to a capture unless the capture is associated with a station.</p>
  <% end %>
</p>
<div class='capture_image my_container'>
	<h4>Capture Images</h4>

	<div class='row-fluid column_header'>
		<div class='span4'>Image</div>
		<div class='span4'>Image State</div>
		<div class='span2'>Make Remote</div>
		<div class='span2'><% if !f.object.new_record? %>Delete<% end %></div>
	</div>

	<%= f.fields_for :capture_images do |builder| %>
			<%= render 'capture_images/capture_image_fields', f: builder %>
	<% end %>
	<%= link_to_add_fields "Add capture image", f, :capture_images %>
</div>
</fieldset>
