<%= simple_form_for capture, :html => { :class => 'visit_form my_container' }  do |f| %>
	<%= f.error_messages %>
	<%= f.hidden_field :capture_owner_id, value: @capture.capture_owner_id%>
	<%= f.hidden_field :capture_owner_type, value: @capture.capture_owner_type%>
	<%= render 'captures/capture_fields', f: f %>
	<p><%= f.button :submit, "Submit"%></p>
<% end %>
