<li class='thumbnail_comparison_container clearfix'>
  <ul class='thumbnails'>
    <li class='thumbnail_container'>
      <div class='thumbnail_img_container'>
          <%= image_tag(missing_comparison.preview_image.thumb.url, alt: missing_comparison.display_name, class: 'thumbnail_img')  %>
      </div>
      <div class='thumbnail_caption_container'>
        <%= link_to(missing_comparison.display_name, capture_path(missing_comparison)) %>
      </div>
    </li>
    <li class='thumbnail_container'>
      <div class='thumbnail_img_container'>
        <%= image_tag("meat_base/no_comparison.gif", alt: 'missing comparison', class: 'thumbnail_img')  %>
      </div>
      <div class='thumbnail_caption_container'>
        <%= link_to("Add Comparison", edit_capture_path(missing_comparison)) if current_user.try(:admin) %>
      </div>
    </li>
  </ul>
</li>
