<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
      menu = Menu.new("Capture",:boostrap)
      if current_user.try(:admin)
        menu.add link: link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_capture_path(@capture.id), class: 'edit_link')
        menu.add_delete(url_for(@capture), "Are you sure you want to delete this capture and its capture images?")
      end
      menu.to_html
    %>
<% end %>
