<%= content_tag :div, class: "submenu_bar" do  %>
  <%= Menu.new("Edit Capture",:boostrap).to_html %>
<% end %>
<div class="data-pane-body">
  <%= breadcrumb_div(@capture, separator: "/", with_self: true).html_safe %>
  <%= render 'form', capture: @capture%>
</div>
