<!DOCTYPE html>
<html>
  <head>
    <title>MLP Editing and Administering Tool | Registration</title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
  <%= render 'layouts/header' %>
  <div id='no_nav_pane'>
    <div class="container-fluid">
  <div id='flash-message'>
    <% flash.each do |key, value| %>
    <%= javascript_tag "$.jGrowl('#{value}',{theme: 'flash_#{key}' });" %>
      <% end %>
    </div>
  <div class='row-fluid'>
    <div id='image_reggy_container' class='span12'>
          <%= yield %>
    </div>
  </div>
</div>
  </body>
</html>
