

<%= simple_form_for survey_season, :html => { :class => 'visit_form my_container' }  do |f| %>
		<%= f.error_messages %>
		<%= f.hidden_field :survey_id, value: @survey_season.survey.id%>
		<%= f.input :year, as: :string %>
		<%= f.input :geographic_coverage %>
    <h5>Arhcival Information</h5>
    <%= f.input :jurisdiction %>
    <%= f.input :affiliation %>
    <%= f.input :archive %>
    <%= f.input :collection %>
    <%= f.input :location %>
    <%= f.input :sources %>
    <%= f.input :notes %>
		<p><%= f.button :submit, "Submit"%></p>
<% end %>
