<h5>Glass Plate Listings <%= current_user.try(:admin) ? "(#{link_to("Add", new_survey_season_glass_plate_listing_path(@survey_season))})".html_safe : "" %></h5>
<% if @survey_season.glass_plate_listings.size > 0 %>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Container</th>
      <th>Plates</th>
      <th>Notes</th>
      <% if current_user.try(:admin) %>
      <th></th>
      <th></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
  <% @survey_season.glass_plate_listings.each do |g| %>
    <tr>
      <td> <%= show_value g.container  %></td>
      <td><%= show_value g.plates  %></td>
      <td><%= show_value g.notes  %></td>
      <% if current_user.try(:admin) %>
      <td><%= link_to("Edit", edit_survey_season_glass_plate_listing_path(@survey_season,g))  %></td>
      <td><%= link_to("Delete", survey_season_glass_plate_listing_path(@survey_season,g), method: :delete, data: { confirm: 'Are you certain you want to delete this?', "skip-pjax": true } )  %></td>
      <% end %>
    </tr>
  <% end %>
  </tbody>
</table>
<% else %>
<p>No Glass Plate Listings</p>
<% end %>
