<h5>Maps <%= current_user.try(:admin) ? "(#{link_to("Add", new_survey_season_map_path(@survey_season))})".html_safe : "" %> </h5>
<% if @survey_season.maps.size > 0 %>
<table class="table table-striped">
<thead>
  <tr>
    <th>NTS Map</th>
    <th>Historic Map</th>
    <th>Links</th>
    <% if current_user.try(:admin) %>
    <th></th>
    <th></th>
    <% end %>
  </tr>
</thead>
<tbody>
<% @survey_season.maps.each do |map| %>
  <tr>
    <td><%= show_value map.nts_map  %></td>
    <td><%= show_value map.historic_map  %></td>
    <td><%= show_value map.links  %></td>
    <% if current_user.try(:admin) %>
      <td><%= link_to("Edit", edit_survey_season_map_path(@survey_season,map))  %></td>
      <td><%= link_to("Delete", survey_season_map_path(@survey_season,map), method: :delete, data: { confirm: 'Are you certain you want to delete this?', "skip-pjax": true } )  %></td>
    <% end %>
  </tr>
<% end %>
</tbody>
</table>
<% else %>
<p>No Maps </p>
<% end %>