<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
    menu = Menu.new("Survey Season",:boostrap)
    if current_user.try(:admin)
      menu.add link: link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_survey_season_path(@survey_season.id), class: 'edit_link')
      menu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Station'></span>Add Station".html_safe, new_survey_season_station_path(@survey_season))
      submenu = Menu.new("<span class='icomoon-menu submenu_icon' title='More Options'></span>", :sub)
      submenu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Unsorted Capture'></span>Add Unsorted Capture".html_safe, new_survey_season_capture_path(@survey_season))
      submenu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Unsorted Historic Capture'></span>Add Unsorted Historic Capture".html_safe, new_survey_season_historic_capture_path(@survey_season))
      submenu.add link: link_to("<span class='icomoon-add-to-list submenu_icon icon_next_to_word' title='Bulk Capture Import'></span>Bulk Capture Import".html_safe, new_bulk_import_form_path(parent_id: @survey_season.id, parent_class: @survey_season.class.name, association: "unsorted_captures"))
      submenu.add link: link_to("<span class='icomoon-add-to-list submenu_icon icon_next_to_word' title='Bulk Historic Capture Import'></span>Bulk Historic Capture Import".html_safe, new_bulk_import_form_path(parent_id: @survey_season.id, parent_class: @survey_season.class.name, association: "unsorted_hcaptures"))
      submenu.add link: link_to("<span class='icomoon-folder-open submenu_icon icon_next_to_word' title='Browse Metadata Folder'></span>Browse Metadata Folder".html_safe, "/survey_seasons/#{@survey_season.id}/open_metadata_folder", remote: true), display: client_on_server?
      menu.add submenu
      if can? :destroy, @survey_season
        menu.add_delete(url_for(@survey_season), "Are you sure you want to delete this survey season and its stations, visits, locations, captures, and capture images?")
      end
    end
    menu.to_html
    %>
<% end %>
