<%= content_tag :div, class: "submenu_bar" do  %>
<%= Menu.new("Edit Survey Season",:boostrap).to_html %>
<% end %>
<div class='data-pane-body'>
  <%= breadcrumb_div(@survey_season, separator: "/", with_self: true).html_safe %>
  <%= render "form", survey_season: @survey_season %>
</div>
