<%= content_tag :div, class: "submenu_bar" do  %>
<%= Menu.new("Add New Survey Season",:boostrap).to_html %>
<% end %>
<div class='data-pane-body'>
<%= render "form", survey_season: @survey_season %>
</div>
