<div id="<%= participant_type %>_new_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="<%= participant_type %>_new_modal" aria-hidden="true">
	<div class="modal-header">
		<button type='button' class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="<%= participant_type %>_modal_header">Add Participant</h3>
	</div>
	<%= simple_form_for participant, :html => { :class => 'my_container' }, remote: true  do |f| %>
	<div class="modal-body">
			<%= f.error_messages %>
			<%= f.hidden_field :participant_type, value: participant_type %>
			<%= f.input :given_names %>
			<%= f.input :last_name %>
	</div>
	<div class="modal-footer">
		<button type='button' class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" type='submit'>Submit</button>
	</div>
	<% end %>
</div>