<fieldset>
<div class='row-fluid' id="<%= f.object.image_secure_token %>" >
<% if f.object.new_record? %>
  <div class='span4'><%= f.input :image, as: :file, label: false, wrapper_html: {class: 'span3'}, input_html: {class: "image"} %><%= f.hidden_field :image_cache %></div>
  <div class='span4'><%= f.input :image_state, as: :select, collection: IMAGE_STATES.map{|s|[s,s]}, label: false ,wrapper_html: {class: 'span3'}, input_html: { class: 'image_state'}%></div>
  <div class='span2'><%= f.input :remote, as: :boolean, label: false,wrapper_html: {class: 'span3'}, input_html: {class: "remote"} %></div>
  <div class='span2'><%= f.hidden_field :_destroy %><%= link_to "Remove", '#', class: "remove_fields" %></div>
<% else %>
  <div class='span4'>
      <% if !f.object.image.nil? && f.object.valid? %>
        <%= link_to_local_file f.object.display_name, f.object.image.file.path  %>
      <% else %>
        <%= f.object.display_name %>
      <% end %>
      <% if !f.object.x_dim.nil? && !f.object.y_dim.nil? %></br>
        <%= f.object.x_dim.to_s+'x'+f.object.y_dim.to_s  %>
      <% end %>
      <% if !f.object.file_size.nil? %></br>
        <%= number_to_human_size(f.object.file_size) %>
      <% end %>
  </div>
  <div class='span4'>
    <%= f.input :image_state, as: :select, collection: IMAGE_STATES.map{|s|[s,s]}, selected: f.object.image_state, label: false, input_html: { class: 'image_state'}, disabled: !f.object.file_present?, hint: (!f.object.file_present? ? "Image has most likely been moved or deleted outside of this application. Please move back to #{f.object.image.file.path} if possible." : "")%>
  </div>
  <div class='span2'>
    <%= f.input :remote, as: :boolean, :input_html => { :checked => f.object.image_remote.blank? ? '' : 'checked', class: "remote" } ,  label: false,  wrapper_html: {class: 'span3'}, disabled: !f.object.file_present? %>
  </div>
  <div class='span2'>
    <%= f.check_box :_destroy, class: 'delete_check_box', input_html: {class: "image_delete"} %>
  </div>
<% end %>
</div>
</fieldset>
