<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
      menu = Menu.new("Capture Image",:boostrap)
      menu.add link: link_to("<span class='icomoon-images submenu_icon' title='Master'></span>Master Capture Image".html_safe, new_master_creation_path, {:data => {skip_pjax: true}}), display: @capture_image.file_present? && current_user.try(:admin) && @capture_image.captureable_type=="Capture"
      menu.add link: link_to("<span class='icomoon-box-add submenu_icon' title='Download'></span>Download".html_safe, download_capture_image_path, {:data => {skip_pjax: true}}), display: @capture_image.file_present?
      menu.add link: link_to("<span class='icomoon-eye submenu_icon' title='Open'></span>Open".html_safe, open_capture_image_path, data: { confirm: "IMPORTANT! Never change the name of an opened file via an external application. If you are making major changes to the file, it is probably best to use the 'Save As' option in the external application and add the file as a new capture image of the capture." }, remote: true), display: @capture_image.file_present? && current_user.try(:admin) && client_on_server?
      menu.add_delete(url_for(@capture_image), "Are you sure you want to delete this capture image?") if current_user.try(:admin)
      menu.to_html
   %>
<% end %>
