<p><%= t(:lat) %></p>
<div class='input-append'>
	<%= f.input_field :lat_d, class: 'input-mini', id: "#{f.object.class.to_s.underscore}_lat_d" %><span class='add-on' style='margin-right: 1em'>&deg;</span>
	<%= f.input_field :lat_m, class: 'input-mini', id: "#{f.object.class.to_s.underscore}_lat_m" %><span class='add-on' style='margin-right: 1em'>′</span>
	<%= f.input_field :lat_s, class: 'input-mini', id: "#{f.object.class.to_s.underscore}_lat_s"%><span class='add-on' style='margin-right: 1em'>′′</span>
	<%= f.input_field :lat_dir, as: :select, collection: [['N','1'],['S','2']], style: 'width: 45px', id: "#{f.object.class.to_s.underscore}_lat_dir" %>
</div>
<p><%= t(:long) %></p>
<div class='input-append'>
	<%= f.input_field :long_d, class: 'input-mini', id: "#{f.object.class.to_s.underscore}_long_d" %><span class='add-on' style='margin-right: 1em'>&deg;</span>
	<%= f.input_field :long_m, class: 'input-mini', id: "#{f.object.class.to_s.underscore}_long_m" %><span class='add-on' style='margin-right: 1em'>′</span>
	<%= f.input_field :long_s, class: 'input-mini', id: "#{f.object.class.to_s.underscore}_long_s"%><span class='add-on' style='margin-right: 1em'>′′</span>
	<%= f.input_field :long_dir, as: :select, collection: [['E','1'],['W','2']], style: 'width: 45px', id: "#{f.object.class.to_s.underscore}_long_dir"%>
</div>
<p>Elevation</p>
<div class='input-append'><%= f.input_field :elevation, as: :string, class: 'input-mini' %><span class='add-on'>m</span></div>
