<%= content_tag :div, class: "submenu_bar" do  %>
<%= Menu.new("Comparisons",:boostrap).to_html %>
<% end %>

<%
  #base_selected_image is the image we want to be shown in the comparison view
  #(other images from the capture can be shown by using the dropdown menu)
  base_selected_image = base_comparison.preview_capture_image
  #comparisons_selected_images is an array of capture images that should be initially shown
  #for each compared capture.
  comparisons_selected_images = comparisons.map do  |c|
    c.capture_images.find(proc{c.capture_images.first}){ |ci| ci.aligned?(base_selected_image) }
  end
%>
<div class='data-pane-body'>
  <%= breadcrumb_div(base_comparison, separator: "/", with_self: true, suffix: "Comparisons").html_safe %>
  <p>A capture/historic capture may have one to many comparisons. Each capture/historic capture has one to many capture images. Change tabs to view different comparisons and drop down menus for different capture images.<p>
  <% if base_comparison.has_aligned_comparisons? %>
  <div class='overlay_button'><%= link_to("View Overlays", "/#{base_comparison.class.name.underscore.pluralize}/#{base_comparison.id}/overlays", class: "btn")%></div>
  <% end %>
  <div class="comparisons" id="comparison_left">
    <ul class="nav nav-tabs" id="comparison_left_tab">
      <li class="active"><a href="#base_comparison"><%= base_comparison.display_name %></a></li>
    </ul>
    <div class="tab-content">
      <%= select_tag "display_bc_image", options_from_collection_for_select(base_comparison.capture_images.order("image_state DESC").order("x_dim DESC"),"id", "image_listing_name", base_selected_image.id ) %>
      <div class="tab-pane active" id="base_comparison">
        <% base_comparison.capture_images.order("image_state DESC").order("x_dim DESC").each_with_index do |ci,i| %>
          <%= image_tag(ci.image.medium.url, alt: ci.display_name, id: "bc_#{ci.id}", style: ci.id!=base_selected_image.id ? "display: none;" : "") %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="comparisons" id="comparison_right">
    <ul class="nav nav-tabs" id="comparison_right_tab">
      <% comparisons.each_with_index do |c,ind| %>
        <%= content_tag(:li, content_tag(:a,c.display_name, href: "#comparison_#{c.id}"), class: ind==0 ? "active" : "") %>
      <% end %>
    </ul>
    <div class="tab-content">
      <% comparisons.each_with_index do |c,ind| %>
        <%= content_tag :div, class: ind==0 ? "tab-pane active" : "tab-pane", id: "comparison_#{c.id}" do %>
          <%= select_tag "display_c_image_#{c.id}", options_from_collection_for_select(c.capture_images.order("image_state DESC").order("x_dim DESC"),"id", "image_listing_name", comparisons_selected_images[ind].id )  %>
          <% c.capture_images.order("image_state DESC").order("x_dim DESC").each_with_index do |ci,i| %>
            <%= image_tag(ci.image.medium.url, alt: ci.display_name, id: "c_#{ci.id}", style: ci.id!=comparisons_selected_images[ind].id ? "display: none;" : "") %>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
