$('#keyword_new_modal .modal-body').prepend('<%= error_messages_for @keyword %>');
$('#keyword_new_modal .modal-body .alert').fadeOut(5000, function(){
	$('#keyword_new_modal .modal-body .alert').remove();
});