<%= content_tag :div, class: "submenu_bar" do  %>
<%= Menu.new("Overlays",:boostrap).to_html %>
<% end %>
<div class='data-pane-body capture_well' id='<%= "#{base_comparison.class.name}_#{base_comparison.id}_show" %>' >
  <%= breadcrumb_div(base_comparison, separator: "/", with_self: true, suffix: "Overlays").html_safe %>
  <p>Overlays are only provided for pairs of capture images that are aligned between compared capture and historic captures. To see all capture images of the compared captures/historic caputres, go to the <%= link_to_if(base_comparison.has_viewable_comparisons?,"Comparisons Page", "/#{base_comparison.class.name.underscore.pluralize}/#{base_comparison.id}/comparisons") %></p>
  <% comparisons.each do |comparison| %>
    <% print_aligned(base_comparison, comparison) do |base_capture_image, comparison_capture_image| %>
      <div class='row-fluid'>
        <div class="comparison_before_after">
          <div class='comparison_date_top_right'><%= comparison_date_formatted(base_comparison) %></div>
          <div class='comparison_date_top_left'><%= comparison_date_formatted(comparison) %></div>
          <%= image_tag base_capture_image.image.medium.url %>
          <%= image_tag comparison_capture_image.image.medium.url %>
        </div>
      </div>
    <% end %>
  <% end %>
  <br>
</div>
