$('<%= "#metadata_file_row_#{@metadata_file.id}".html_safe %>').fadeOut(500, function() {
	$('<%= "#metadata_file_row_#{@metadata_file.id}".html_safe %>').remove();
	if($('#metadata_files_table .metadata_file_row').length == 0){
		$('#metadata_files_table').remove();
		$('h4#metadata_files_header').replaceWith("<p>There are no metadata files</p>");
	}
});

