$('<%= "#location_image_row_#{@location_image.id}".html_safe %>').fadeOut(500, function() {
	$('<%= "#location_image_row_#{@location_image.id}".html_safe %>').remove();
	if($('#location_images_table .location_image_row').length == 0){
		$('#location_images_table').remove();
		$('h4#location_images_header').replaceWith("<p>There are no location images</p>");
	}
});

