//this js.erb is rendered with a capture image is moved from one capture to another. It removes the captures from the current page
$('<%= "#capture_image_row_#{@capture_image.id}".html_safe %>').fadeOut(500, function() {
	$('<%= "#capture_image_row_#{@capture_image.id}".html_safe %>').remove();
	if($('#capture_images_table .capture_image_row').length == 0){
		$('#capture_images_table').remove();
		$('h4#capture_images_header').replaceWith("<p>There are no capture images associated with this capture</p>");
	}
});

