$('#keyword_new_modal').modal('hide');
$('#visit_keyword_ids').append('<option value="<%= @keyword.id %>" selected="selected"><%= @keyword.keyword %></option>');
$('#ms-visit_keyword_ids .ms-selectable .ms-list').append('<li class="ms-elem-selectable ms-selected" id="_<%= @keyword.id.to_s.split("").join("_")%>_-selectable" style="display: none;"><span><%= @keyword.keyword %></span></li>');
$('#ms-visit_keyword_ids .ms-selection .ms-list').append('<li class="ms-elem-selection ms-selected" id="_<%= @keyword.id.to_s.split("").join("_")%>_-selection" style="display: list-item;"><span><%= @keyword.keyword %></span></li>');
