var is_empty = "<%= @historic_captures_from_station.empty? %>"

if (is_empty == 'false'){
	$('.historic_captures_select').removeAttr('disabled');
	$('.historic_captures_select').html("<%= escape_javascript(options_for_select(@historic_captures_from_station)) %>");
	
}
else{
	$('.historic_captures_select').attr('disabled', 'true');
	$('.historic_captures_select').html("<%= escape_javascript(options_for_select(@historic_captures_from_station)) %>");
}
	