$('#<%= @participant_type %>_new_modal').modal('hide');
$('#visit_<%= @participant_type %>_ids').append('<option value="<%= @participant.id %>" selected="selected"><%= @participant.display_name %></option>');
<% participant_types = ["photographer","fn_author","hiking_party_participant"] %>
$('#ms-visit_<%= @participant_type %>_ids .ms-selectable .ms-list').append('<li class="ms-elem-selectable ms-selected" id="_<%= @participant.id.to_s.split("").join("_")%>_-selectable" style="display: none;"><span><%= @participant.display_name %></span></li>');
$('#ms-visit_<%= @participant_type %>_ids .ms-selection .ms-list').append('<li class="ms-elem-selection ms-selected" id="_<%= @participant.id.to_s.split("").join("_")%>_-selection" style="display: list-item;"><span><%= @participant.display_name %></span></li>');
<% participant_types.reject{|p|p==@participant_type}.each do |not_selected| %>
	$('#visit_<%= not_selected %>_ids').append('<option value="<%= @participant.id %>"><%= @participant.display_name %></option>');
	$('#ms-visit_<%= not_selected %>_ids .ms-selectable .ms-list').append('<li class="ms-elem-selectable" id="_<%= @participant.id.to_s.split("").join("_")%>_-selectable"><span><%= @participant.display_name %></span></li>');
	$('#ms-visit_<%= not_selected %>_ids .ms-selection .ms-list').append('<li class="ms-elem-selection" id="_<%= @participant.id.to_s.split("").join("_")%>_-selection" style="display: none;"><span><%= @participant.display_name %></span></li>');
<% end %>
