<%= simple_form_for surveyor, :html => { :class => 'visit_form my_container' }  do |f| %>
		<%= f.error_messages %>
		<%= f.input :given_names %>
		<%= f.input :last_name %>
		<%= f.input :short_name %>
		<%= f.input :affiliation %>
		<p><%= f.button :submit, "Submit"%></p>
<% end %>
