<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
    menu = Menu.new("Surveyor",:boostrap)
    if current_user.try(:admin)
      menu.add link: link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_surveyor_path(@surveyor.id), class: 'edit_link' )
      menu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Survey'></span>Add Survey".html_safe, new_surveyor_survey_path(@surveyor))
      if can? :destroy, @surveyor
        menu.add_delete(url_for(@surveyor), "Are you sure you want to delete this surveyor? This will delete all surveys and associated content (images) underneath this surveyor")
      end
    end
    menu.to_html
    %>
<% end %>
