<%
content_for "#{tab_name}_title" do
  "Location Photos"
end
content_for "#{tab_name}_icon" do
  "<span class='icomoon-image tabs_icon pull-left' title='Location Photos'></span>".html_safe
end
content_for "#{tab_name}_id" do
  "location_location_photos_tab_#{location.id}"
end
content_for "#{tab_name}_pane" do
  render 'location_images/location_images_grid', location_images: location.location_photos, only_unsorted_are_moveable: false
end
%>
