<%= simple_form_for project, :html => { :class => 'project_form my_container' }  do |f| %>
		<%= f.error_messages %>
		<%= f.input :name %>
		<%= f.input :description, input_html: { rows: 8, class: 'span10'} %>
		<p><%= f.button :submit, "Submit" %>
<% end %>
