<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
    menu = Menu.new("Project",:boostrap)
    if current_user.try(:admin)
      menu.add link: link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_project_path(@project.id), class: 'edit_link')
      menu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Station'></span>Add Station".html_safe, new_project_station_path(@project))
      submenu = Menu.new("<span class='icomoon-menu submenu_icon' title='More Options'></span>", :sub)
      submenu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Unsorted Capture'></span>Add Unsorted Capture".html_safe, new_project_capture_path(@project))
      submenu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Unsorted Historic Capture'></span>Add Unsorted Historic Capture".html_safe, new_project_historic_capture_path(@project))
      submenu.add link: link_to("<span class='icomoon-add-to-list submenu_icon icon_next_to_word' title='Bulk Capture Import'></span>Bulk Capture Import".html_safe, new_bulk_import_form_path(parent_id: @project.id, parent_class: @project.class.name, association: "unsorted_captures"))
      submenu.add link: link_to("<span class='icomoon-add-to-list submenu_icon icon_next_to_word' title='Bulk Historic Capture Import'></span>Bulk Historic Capture Import".html_safe, new_bulk_import_form_path(parent_id: @project.id, parent_class: @project.class.name, association: "unsorted_hcaptures"))
      submenu.add link: link_to("<span class='icomoon-folder-open submenu_icon icon_next_to_word' title='Browse Metadata Folder'></span>Browse Metadata Folder".html_safe, "/projects/#{@project.id}/open_metadata_folder"), remote: true, display: client_on_server?
      menu.add submenu
      if can? :destroy, @project
        menu.add_delete(url_for(@project), "Are you sure you want to delete this project? This will delete all stations and associated content (images) underneath this project")
      end
    end
    menu.to_html
    %>
<% end %>
