<div class='data-pane-body'>
<h1>Select Capture Image To Master Against</h1>
<%= simple_form_for @image_pair_form, url: master_creation_path(@initiator.id), method: 'post' do |f| %>
  <%= f.error_messages %>
  <%= f.input_field(:initiator_derivative_class, as: :hidden, value: "CaptureImage" ) %>
  <%= f.input_field(:initiator_derivative_id, as: :hidden, value: @initiator.id ) %>
  <%= f.input_field(:reference_derivative_class, as: :hidden, value: "CaptureImage" ) %>
  <ul class='thumbnails'>
    <%= capture do %>
      <% f.collection_radio_buttons :reference_derivative_id, @comparable_capture_images, :id, :display_name, {boolean_style: :inline} do |cap_img| %>
          <li class='span3 thumbfix thumbnail'>
          <div class='mastering_radio_thumb'><%= cap_img.radio_button %></div>
          <div class='mastering_cap_img_metadata'>
            <%= cap_img.object.display_name %><br>
            <%= cap_img.object.image_state %><br>
            <%= "#{cap_img.object.x_dim}x#{cap_img.object.y_dim} #{number_to_human_size(cap_img.object.file_size) if !cap_img.object.file_size.nil?}" %>
          </div>
          <%= image_tag(cap_img.object.image.thumb.url, alt: cap_img.object.display_name) %>
          </li>
      <% end %>
    <% end%>
  </ul>
  <div id='aligner_options'>
    <h3>Alignment Options</h3>
    <table class='table'>
      <tbody>
        <%= capture do f.collection_radio_buttons :aligner, [["BasicAligner", \
                      "<strong>Standard Mode</strong>. This mode will scale, rotate, and translate the reference image to match the initiator.
                       Cropping will occur on both images if required. If either image has been manipulated during the registration
                       process, a new capture image will be created under the same capture/historic capture of the capture image
                       it was derived from.".html_safe], \
                       ["ReferenceHorizonAligner", \
                      "<strong>Maintain Reference Horizon Mode</strong>. This mode will scale and translate the reference image and rotate the
                      initiator in order to preverse the horizon of the reference. Cropping will occur on both images if required. If either image has
                      been manipulated during the registration process, a new capture image will be created under the same capture/historic capture
                       of the capture image it was derived from.".html_safe]], :first, :last, {boolean_style: :inline}  do |aligner| %>
          <tr>
            <td class='mastering_radio_aligner'><%= aligner.radio_button %></td>
            <td class='mastering_description_aligner'><%= aligner.label %></td>
          </tr>
        <% end %>
        <% end %>
        <%= @test %>
      </tbody>
    <table>
  <%= f.button(:submit, "Start Mastering") %>
<% end %>
</div>

