<% @fn_count = f.object.field_notes.count %>
<%= f.input :field_notes, as: :file, label: Visit.human_attribute_name(:field_notes), input_html: {multiple: true}%>
<% if @fn_count>0 %>
	<table class='table' id='field_note_fields_table'>
		<tr class='column_header'>
			<th>File Name</th>
			<th>Delete</th>
		</tr>
		<%= f.fields_for :field_notes do |builder| %>
			<%= render 'field_notes/field_note_fields', f: builder %>
		<% end %>
	</table>
<% end %>
