<div id='field_notes_container' >
  <dt>Field note files:</dt>
  <%= dd_tag(visit.field_notes) do |fn| %>
      <%= if client_on_server? && current_user.try(:admin)
            link_to_if fn.file_present?, fn.display_name, "/field_note/#{fn.id}/open", data: { confirm: t(:open_warning) }, remote: true
          else
            link_to_if fn.file_present?, fn.display_name, "/field_note/#{fn.id}/download", {:data => {skip_pjax: true}}
          end
        %>
  <% end %>
  </div>
