<%= content_tag :div, class: "submenu_bar" do  %>
  <%= Menu.new("Sign In",:boostrap).to_html %>
<% end %>
<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <div class="form-inputs">
    <%= f.input :email, :required => false, :autofocus => true %>
    <%= f.input :password, :required => false %>
    <%= f.input :remember_me, :as => :boolean if devise_mapping.rememberable? %>
  </div>
    <%= f.button :submit, "Sign in" %>
<% end %>

<%# render "devise/shared/links" %>
