<tr>
<td><%= link_to_if f.object.file_present? && client_on_server?, f.object.display_name, "/metadata_file/#{f.object.id}/open", remote: true  %></td>
<td><%= f.check_box :_destroy, class: 'delete_check_box' %></td>
</tr>
