<% if metadata_files.empty? %>
	<p>There are no metadata files.</p>
<% else %>
	<table class='table' id='metadata_files_table'>
	<tr class='column_header'>
		<th class='drag_column'></th>
		<th class='metadata_file_column'>File Name</th>
	</tr>
	<%= render metadata_files %>
	</table>
<% end %>
