<%= content_tag :tr, class: 'metadata_file_row', id: "metadata_file_row_#{metadata_file.id}" do -%>
	<%= content_tag :td, class: "drag_column" do -%>
		<%= image_tag("move.png", alt: "drag-handle", title: "Drag to navigation tree to move the file", id: "MetadataFile_#{metadata_file.id}_handle") %>
	<% end -%>
	<%= content_tag :td, :class => "metadata_file_column" do -%>
            <%= if client_on_server? && current_user.try(:admin)
		            link_to metadata_file.display_name, "/metadata_file/#{metadata_file.id}/open", remote: true
                    else
                      link_to metadata_file.display_name, "/metadata_file/#{metadata_file.id}/download", {:data => {skip_pjax: true}}
                    end
              %>
	<% end -%>
<% end -%>
