<% @md_count = f.object.metadata_files.count %>
<%= f.input :metadata_files, as: :file, label: Visit.human_attribute_name(:metadata_files), input_html: {multiple: true}%>
<% if @md_count>0 %>
	<table class='table' id='metadata_file_fields_table'>
		<tr class='column_header'>
			<th>File Name</th>
			<th>Delete</th>
		</tr>
		<%= f.fields_for :metadata_files do |builder| %>
			<%= render 'metadata_files/metadata_file_fields', f: builder %>
		<% end %>
	</table>
<% end %>
