<%= simple_form_for survey, :html => { :class => 'visit_form my_container' }  do |f| %>
		<%= f.error_messages %>
		<%= f.hidden_field :surveyor_id, value: @survey.surveyor.id%>
		<%= f.input :name %>
		<%= f.input :historical_map_sheet %>
		<p><%= f.button :submit, "Submit"%></p>
<% end %>
