<%= content_tag :div, class: "submenu_bar" do  %>
    <%=
    menu = Menu.new("Survey",:boostrap)
    if current_user.try(:admin)
      menu.add link: link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_survey_path(@survey.id), class: 'edit_link')
      menu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Survey Season'></span>Add Survey Season".html_safe, new_survey_survey_season_path(@survey))
      submenu = Menu.new("<span class='icomoon-menu submenu_icon' title='More Options'></span>", :sub)
      submenu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Unsorted Capture'></span>Add Unsorted Capture".html_safe, new_survey_capture_path(@survey))
      submenu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Unsorted Historic Capture'></span>Add Unsorted Historic Capture".html_safe, new_survey_historic_capture_path(@survey))
      submenu.add link: link_to("<span class='icomoon-add-to-list submenu_icon icon_next_to_word' title='Bulk Capture Import'></span>Bulk Capture Import".html_safe, new_bulk_import_form_path(parent_id: @survey.id, parent_class: @survey.class.name, association: "unsorted_captures"))
      submenu.add link: link_to("<span class='icomoon-add-to-list submenu_icon icon_next_to_word' title='Bulk Historic Capture Import'></span>Bulk Historic Capture Import".html_safe, new_bulk_import_form_path(parent_id: @survey.id, parent_class: @survey.class.name, association: "unsorted_hcaptures"))
      submenu.add link: link_to("<span class='icomoon-folder-open submenu_icon icon_next_to_word' title='Browse Metadata Folder'></span>Browse Metadata Folder".html_safe, "/surveys/#{@survey.id}/open_metadata_folder", remote: true), display: client_on_server?
      menu.add submenu
      if can? :destroy, @survey
        menu.add_delete(url_for(@survey), "Are you sure you want to delete this survey and its survey seasons, stations, visits, locations, captures, and capture images?")
      end
    end
    menu.to_html
    %>
<% end %>
