<%= content_tag :div, class: "submenu_bar" do  %>
<%= Menu.new("Edit Survey",:boostrap).to_html %>
<% end %>
<div class='data-pane-body'>
  <%= breadcrumb_div(@survey, separator: "/", with_self: true).html_safe %>
<%= render "form", survey: @survey %>
</div>
