$(document).ready(function(){
//Will change page on filter selection
  $("#filters_select").change(function() {
      if (this.selectedIndex!==0) {
          window.location.href = this.value;
      }
  });

  var ready = false;
  var move_to_unsorted = false;
  $("#treeViewDiv")
  .on("move_node.jstree", function(event,data) {
    var np_split = data.rslt.np.attr("id").split("_");
    var np_id = np_split[1];
    var np_type = np_split[0];

    data.rslt.o.each( function (i) {
      var origin_split = $(this).attr("id").split("_");
      var origin_id = origin_split[1];
      var origin_type = origin_split[0];

      if(origin_type=='HistoricCapture') {
        if(!(origin_type==np_type && origin_id==np_id) && !move_to_unsorted) {
          $.post("/historic_captures/move", { id: origin_id, parent_id: np_id, parent_type: np_type });
        }
        //If you drag the hcapture to a Survey, etc. we actually want it to appear in Unsorted Historic Captures
        //np_split.length==2... just says if the np attribute id is "Station_1_UnsortedHistoricCaptures", then
        //the node is already in the right place
        if( np_split.length==2 && (np_type=="SurveySeason" || np_type=="Survey" || np_type=="Project")){
          //check is np_type+"_"+np_id+"_UnsortedHistoricCaptures" exists if not create it
          if(!$('#'+np_type+"_"+np_id+"_UnsortedHistoricCaptures").get(0)){
            $("#treeViewDiv").jstree("create_node",data.rslt.np,"last", {data: {title: "Unsorted Historic Captures", icon: asset_path('camera_icon_small_red.png') }, attr: {id: np_type+"_"+np_id+"_UnsortedHistoricCaptures"} } );
          }
          move_to_unsorted=true;
          $("#treeViewDiv").jstree("move_node","#"+origin_type+"_"+origin_id,"#"+np_type+"_"+np_id+"_UnsortedHistoricCaptures");
          move_to_unsorted=false;
        }
        //remove the old Unsorted Historic Captures folder if a) the parent is an Unsorted Historic Captures folder and b) it is empty
        former_parent = data.rslt.op.attr("id");
        former_parent_split = former_parent.split("_");
        if(former_parent_split.length==3 && former_parent_split[2]=="UnsortedHistoricCaptures" && $('#'+former_parent+' > ul').length==0 ) {
          $("#treeViewDiv").jstree("delete_node",'#'+former_parent);
        }
      }
      else if(origin_type=='Capture') {
        if(!(origin_type==np_type && origin_id==np_id) && !move_to_unsorted) {
          $.post("/captures/move", { id: origin_id, parent_id: np_id, parent_type: np_type });
        }
        //see comments in HistoricCapture else if
        if( np_split.length==2 && (np_type=="Station" ||  np_type=="SurveySeason" || np_type=="Survey" || np_type=="Project")){
          if(!$('#'+np_type+"_"+np_id+"_UnsortedCaptures").get(0))
          {
            $("#treeViewDiv").jstree("create_node",data.rslt.np,"last",{ data: {title: "Unsorted Captures", icon: asset_path('camera_icon_small_red.png') }, attr: {id: np_type+"_"+np_id+"_UnsortedCaptures"} }  ); //,
          }
          move_to_unsorted=true;
          $("#treeViewDiv").jstree("move_node","#"+origin_type+"_"+origin_id,"#"+np_type+"_"+np_id+"_UnsortedCaptures");
          move_to_unsorted=false;
        }
        //remove the old Unsorted Captures folder if a) the parent is an Unsorted Captures folder and b) it is empty
        former_parent = data.rslt.op.attr("id");
        former_parent_split = former_parent.split("_");
        if(former_parent_split.length==3 && former_parent_split[2]=="UnsortedCaptures" && $('#'+former_parent+' > ul').length==0 ) {
          $("#treeViewDiv").jstree("delete_node",'#'+former_parent);
        }
      }
      else if(origin_type=='SurveySeason') {
        console.log('trying to move SurveySeason');
        if(!(origin_type==np_type && origin_id==np_id) && !move_to_unsorted) {
          $.post("/survey_seasons/move", { id: origin_id, parent_id: np_id });
        }
      }
    });
  })
  .jstree({
    "core" : { "open_parents" : true },
    "ui" : {
      "selected_parent_open" : true,
      "initially_select" : [window.current_tree_node]
    },
    "json_data" : {
      "ajax" : {
        "url" : '<%= Meat::Application.routes.url_helpers.treedata_path %>',
        "data" : function(n) {
          if(n==-1) {
            return 0
          }
          else {
            //when a node is opened, this function will get called
            //and pass the opening node as an arguement
            //The value returned here (key/value hash) will be pass as argument
            //to ajax call
            var node_id = n.attr("id").split("_")[1];
            var node_type = n.attr("id").split("_")[0];
            if (node_id && node_type) {
              return {id : node_id, type: node_type};
            }
          }
        }
      }
    },
    "crrm" : {
      "move" : {
        "check_move" : function (m) {
          //only admins can move
          if (!window.isAdmin){
            return false;
          }
          var origin_id = m.o.attr("id").split("_")[1];
          var origin_type = m.o.attr("id").split("_")[0];
          var np_id = m.np.attr("id").split("_")[1];
          var np_type = m.np.attr("id").split("_")[0];
          switch(origin_type) {
            case "Capture":
              if (np_type=="Visit" || np_type=="Location" || np_type=="Station" ||  np_type=="SurveySeason" || np_type=="Survey" || np_type=="Project"){
                return true;
              }
              break;
            case "HistoricCapture":
              if (np_type=="HistoricVisit" || np_type=="SurveySeason" || np_type=="Survey" || np_type=="Project") {
                return true;
              }
              break;
            case "SurveySeason":
              if (np_type==="Survey") {
                return true;
              }
          }
          return false;
        }
      }
    },
    "dnd" : {
      "drop_target" : ".capture_well,.historic_capture_well",
      "drop_finish" : function(m) {
        var answer = confirm('Please confirm that you would like to continue with the merger');
        if (answer) {
          var origin_split = m.o.attr("id").split("_");
          var origin_id = origin_split[1];
          var origin_type = origin_split[0];
          var r_split;
          var merge_type = origin_type.toUnderscore();
          if (m.r.is('.'+merge_type+'_well')) {
            r_split=m.r.attr("id").split("_");
          }
          else if (m.r.parents('.'+merge_type+'_well').length>0) {
            r_split=m.r.parents('.'+merge_type+'_well').attr('id').split("_");
          }
          else {
            return;
          }
          r_id = r_split[1];
          r_type = r_split[0];
          if (origin_type!=r_type) {
            alert("Oops! Can't merge objects of different types ("+origin_type+","+r_type+")");
            return;
          } else if (origin_id==r_id) {
            alert("Oops! Can't merge into yourself");
            return;
          }
          $.post("/"+merge_type+"s/merge", {merge_out_id: origin_id, merge_in_id: r_id });
        }
      },
      "drop_check" : function(m) {
        //only admins can drop
        if (!window.isAdmin){
          return false;
        }
        var origin_id = m.o.attr('id').split("_")[1];
        var origin_type = m.o.attr('id').split("_")[0];
        if ((origin_type=="Capture" && (m.r.is('.capture_well') || m.r.parents('.capture_well').length>0)) || (origin_type=="HistoricCapture" && (m.r.is('.historic_capture_well') || m.r.parents('.historic_capture_well').length>0)) )
        {
          return true;
        }
        return false;
      },
      "drag_target" : ".capture_image_column,.location_image_column,.drag_column,.metadata_file_column",
      "drag_finish" : function(m) {
        var origin_id = m.o.id.split("_")[1];
        var origin_type = m.o.id.split("_")[0];
        var r_id = m.r.attr("id").split("_")[1];
        var r_type = m.r.attr("id").split("_")[0];
        /*an object foreign to the jstree is being move. After that move occurs,
        we want to update the current page to reflect that move. There are two
        scenarios: remove the node from the page or change the parent reference
        shown next to it. If new_parent_descendent_of_showing_page is false, we want
        to remove the node, otherwise we want to indicate the change. This change
        does not occur here, but the logic is passed to the controller through
        this variable. */
        var new_parent_descendent_of_showing_page = true
        if ($('#treeViewDiv').jstree('get_selected').find('#'+m.r.attr("id")).length==0 && m.r.attr("id")!=$('#treeViewDiv').jstree('get_selected').attr("id")) {
          new_parent_descendent_of_showing_page = false
        }
        $.post("/"+origin_type.toUnderscore().toPlural()+"/move", { id: origin_id, parent_id: r_id, parent_type: r_type, new_parent_descendent_of_showing_page: new_parent_descendent_of_showing_page });
      },
      "drag_check" : function (m) {
        //only admins can drag
        if (!window.isAdmin){
          return false;
        }
        var origin_id = m.o.id.split("_")[1];
        var origin_type = m.o.id.split("_")[0];
        var r_id = m.r.attr("id").split("_")[1];
        var r_type = m.r.attr("id").split("_")[0];
        switch(origin_type) {
          case "CaptureImage":
            if (r_type=="Capture" || r_type=="HistoricCapture"){
              return { after : false, before : false, inside : true };
            }
            break;
          case "LocationImage":
            if (r_type=="Location" || r_type=="Visit" || r_type=="Station") {
              return { after : false, before : false, inside : true };
            }
            break;
          case "MetadataFile":
              if (r_type=="Visit" || r_type=="Station" || r_type=="SurveySeason" || r_type=="Survey" || r_type=="Project") {
               return { after : false, before : false, inside : true };
            }
            break;
        }
        return false
      }
    },
    "plugins" : [ "themes", "json_data", "ui", "crrm", "dnd" ],
    "themes" : {
      'theme' : 'apple'
    }
    })
    .bind("reselect.jstree", function() { ready = true; })
    .bind("select_node.jstree", function(e, data)
    {
      if(jQuery.data(data.rslt.obj[0], "obj_class") && ready && isSelectNodeActive)
      {
        klass=jQuery.data(data.rslt.obj[0], "obj_class");
        id=jQuery.data(data.rslt.obj[0],"id");
        var url = "/"+klass.toUnderscore().toPlural()+"/"+id;
        $.pjax({url: url, container: '[data-pjax-container]'});
      }

    });

});
