<div id="keyword_new_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="keyword_new_modal" aria-hidden="true">
	<div class="modal-header">
		<button type='button' class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="keyword_modal_header">Add Keyword</h3>
	</div>
	<%= simple_form_for keyword, :html => { :class => 'my_container' }, remote: true  do |f| %>
	<div class="modal-body">
			<%= f.error_messages %>
			<%= f.input :keyword %>
		<%# render 'keywords/form', keyword: keyword %>
	</div>
	<div class="modal-footer">
		<button type='button' class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
		<button class="btn btn-primary" type='submit'>Submit</button>
	</div>
	<% end %>
</div>