<% if @station.unsorted_captures.present?
  content_for "#{tab_name}_title" do
    "Unsorted Captures"
  end
  content_for "#{tab_name}_id" do
    "station_unsorted_captures_#{station.id}"
  end
  content_for "#{tab_name}_pane" do
    render 'captures/captures_grid', captures: station.unsorted_captures
  end
end
%>
