<% if @station.metadata_files.present?
  content_for "#{tab_name}_title" do
    "Metadata Files"
  end
  content_for "#{tab_name}_id" do
    "station_metadata_files_#{station.id}"
  end
  content_for "#{tab_name}_pane" do
    render 'metadata_files/metadata_files_table', metadata_files: station.metadata_files
  end
end %>
