/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require meat_base/application
 *= require image_reggy/application
 *= require multi-select
 *= require jquery.jgrowl

 */
$iconSpritePath: '';
$iconWhiteSpritePath: '';
@import "bootstrap";


.sub-navbar-inner {
@extend .navbar-inner;
height: 30px;
}

#data-pane .sub-navbar-inner, #data-pane .navbar-inner {
  padding-right: 0px;
}

.delete-link ul.nav {
    margin-right: 0px;
  }

div.jGrowl div.jGrowl-notification.flash_success, div.jGrowl div.jGrowl-notification.flash_notice{
@extend .alert;
@extend .alert-success;
}

div.jGrowl div.jGrowl-notification.flash_error{
@extend .alert;
@extend .alert-error;
}


.nav-authenticate {
  float: right;
}

.breadcrumb {
  padding: 3px 15px;
  margin: 0 5px;
  background-color: transparent;
}



.searchable_type,.searchable_content {
  color: black;
  display: inline-block;
}
.searchable_type {
  width: 15%;
}
.searchable_content {
  width: 60%;
}
.searchable_display_name {
  display: inline-block;
  width: 20%;
  word-wrap: break-word;
}
#search-results {
  padding: 5px 10px;
}

.legend .title {
    margin: 0.5em;
    border-style: solid;
    border-width: 0 0 0 1em;
    padding: 0 0.3em;
}

#capture_legend {
  padding-bottom: 7px;
}

.content_overview_object_title {
  font-weight: bold;
  display: block;
}

.job_count {
  color: red;
  font-weight: bold;
}

.job_title {
  font-weight: bold;
}

.collapsed_overlay
{
    background-color: #f9f9f9;
    background-image: -moz-linear-gradient(top, #fff, #f2f2f2);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fff), to(#f2f2f2));
    background-image: -webkit-linear-gradient(top, #fff, #f2f2f2);
    background-image: -o-linear-gradient(top, #fff, #f2f2f2);
    background-image: linear-gradient(to bottom, #fff, #f2f2f2);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFFFF', endColorstr='#FFF2F2F2', GradientType=0);
    border: 1px solid #d4d4d4;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    box-shadow: 0 1px 4px rgba(0,0,0,0.065);
    padding: 10px 15px 10px;
    z-index: 100;
    height: 100%;
    background-repeat:no-repeat;
    background-position:center;
    position:absolute;
    top: 0px;
    left: 0px;
    right: ($fluidGridColumnWidth*11+$fluidGridGutterWidth*11)+(-0.4);
    display: none;
    text-align: center;
    color: $navbarLinkColor;
}


//fixes an issues with bootstrap-sass radios/checkboxes in forms
//see https://github.com/bootstrap-ruby/rails-bootstrap-forms/issues/244
.radio input[type="radio"], .checkbox input[type="checkbox"] {
    float: left;
    margin-left: 0px;
    margin-right: 10px;
}

//these should be moved into meat_base if I put bootstrap in meat_base.
@mixin comparison_date {
  position: absolute;
  z-index: 55;
  padding: 1px 5px;
  background: rgba(0,0,0, 0.59);
  color: white;
}
.comparison_date_top_right {
  @include comparison_date;
  left: 0px;
  top: 0px;
}
.comparison_date_top_left {
  @include comparison_date;
  right: 0px;
  top: 0px;
}

.header_icon, .submenu_icon {
  padding-right: 3px;
}

.not_mastered {
  border: solid 2px rgb(223, 69, 69)
}
