div.comparisons select {
width: 350px;
float: left;
}
div.comparisons img {
  float: left;
  clear: left;
}
div.comparisons {
  float: left;
}

.comparisons {
background-color: white;
border: 1px solid #E3E3E3;
-webkit-border-radius: 10px;
padding: 10px;
margin-bottom: 10px;
border-radius: 4px;
}


