
select.image_state {
width: 150px;
}

.jstree-apple > ul {
background-image: none !important;
}

.historic_captures_select, .captures_select {
height: 150px !important;
}

.no_nav_container {
padding: 5px 20px;
}

.faq-question {
font-weight: bold;
}




.location, #capture_images_table, .historic_capture {
background-color: white;
border: 1px solid #E3E3E3;
-webkit-border-radius: 4px;
padding: 19px;
margin-bottom: 20px;
border-radius: 4px;
}


div.column_header {
font-weight:bold;
}

.capture {
background-color: white;
border: 1px solid #E3E3E3;
-webkit-border-radius: 4px;
padding: 19px;
margin-bottom: 20px;
border-radius: 4px;
}

.remove_fields {
float: right;
}

.show-links {
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
font-size: 14px;
border-bottom:thin solid #E3E3E3;
margin-bottom: 6px;
padding-bottom: 1px;
}

.long-path-container {
word-wrap: break-word;
}

.capture_image_row, .capture_row, .historic_capture_row, .location_image_row, .comparison_row {
font-size: 12px;
}




td.drag_column {
vertical-align: middle;
width: 15px;
padding-right: 2px;
padding-left: 8px;
}

div.location_image_column .drag_column {
  position: relative;
}
div.location_image_column .drag_column > img {
  position: absolute;
  top: 0;
  left: 0;
  padding: 1px;
  border: 1px solid #ddd;
  background: white;
}
div.location_image_column a img {
  float: left;
}
.drag_column > img {
cursor: move;
}

#field_note_fields_table, #metadata_file_fields_table {
width: 45%;
}


.multiselect-header {
text-align: center;
color: white;
background-color: lightgray;
padding: 3px 1px;
}







