.map_container {
  padding: 6px;
  border-width: 1px;
  border-style: solid;
  border-color: #ccc #ccc #999 #ccc;
  -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
  box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
  width: 98%;
}
.map_container img {
  max-width: none;
}
.map_container label {
  width: auto; display:inline;
}
.pane_info {
  margin-bottom: 3px;
  margin-top: 3px;
}
.pane_info img {
  height: 20px;
}
