#image_reggy_container {
  padding: 0 20px;
}

.mastering_radio_thumb {
  padding-bottom: 5px;
}

.mastering_cap_img_metadata {
  font-size: 0.75em;
  line-height: 1.5em;
}

.mastering_radio_aligner {
  width: 15px;
}
