body {
  padding-top: 48px;
}

#pane_container {
  position: fixed;
  right: 0px;
  left: 0px;
  top: 48px;
  bottom: 0px;
}

#tree_body .pane_info {
  margin-top: 5px;
  margin-bottom: 8px;
}

#tree_legend_link {
  float: right;
  font-size: 11px;
}

#tree_legend .icon_column {
  width: 10%;
}

#filters_select {
  width: 60%;
  margin: 0px;
}

#add_surveyor_icon, #add_project_icon {
  font-size: 15px;
}

.pane_info hr {
  margin: 10px 0;
}
