<%= simple_form_for [@survey_season, @glass_plate_listing], :html => { :class => 'well my_container' }  do |f| %>
  <%= f.error_messages %>
  <%= f.hidden_field :survey_season_id, :value => @survey_season.id %>
  <%= f.input :container %>
  <%= f.input :plates %>
  <%= f.input :notes %>
  <p><%= f.button :submit, "Submit"%></p>
<% end %>