<%= Menu.new("New Glass Plate Listing",:boostrap).to_html %>
<dl class='dl-horizontal'>
  <dt> Surveyor:</dt><dd> <%= show_value @surveyor.display_name %></dd>
  <dt> Survey:</dt><dd> <%= show_value @survey.display_name %></dd>
  <dt> Survey Season:</dt><dd> <%= show_value @survey_season.year %></dd>
</dl>
<div class='data-pane-body'>
  <%= render 'form', glass_plate_listing: @glass_plate_listing %>
</div>