<div class="submenu_bar">
  <%= Menu.new("Settings",:boostrap).to_html %>
</div>
<div class="data-pane-body">
  <%= simple_form_for @settings_form, url: '/settings', html: { class: 'settings_form my_container' } do |f| %>
    <%= f.error_messages %>
    <h4>General Settings</h4>
    <%= f.input :mlp_library_local_root, label: "MLP Library Root Directory. Only change this if the MLP Library changes its mount point directory or moves to a different location." %>
    <%= f.input :admin_users, label: "Select Admin Users (Beware: Admin users will be able to grant admin access to other users)", collection: @settings_form.user_collection_list, input_html: {multiple: true}, selected: @settings_form.admin_users.map(&:id) %>
    <h4>Publisher Criteria Settings</h4>
    <%= f.input :update_criteria_captures, as: :radio_buttons, collection: @settings_form.update_criteria_captures_collection_list, label_method: :first, value_method: :last, label: "Update Criteria For Captures", wrapper_html: { id: 'radio_group_criteria_captures' } %>
    <%= f.input :update_criteria_historic_captures, as: :radio_buttons, collection: @settings_form.update_criteria_historic_captures_collection_list, label_method: :first, value_method: :last, label: "Update Criteria For Historic Captures", wrapper_html: { id: 'radio_group_criteria_historic_captures' } %>
    <p><%= f.button :submit, "Update Settings", name: "normal" %><%= f.button :submit, "Update And Go To Publisher", name: "go_to_publisher" %></p>
  <% end %>
</div>
