<% if @bulk_import_form.association=~/hcaptures|historic_captures/
    @import_type_title = "Historic Capture"
  elsif @bulk_import_form.association=~/captures/
    @import_type_title = "Capture"
  else
    @import_type_title = @bulk_import_form.association.capitalize
  end
  %>

  <%= content_tag :div, class: "submenu_bar" do  %>
    <%= Menu.new("Bulk #{@import_type_title} Import",:boostrap).to_html %>
  <% end %>
  <div class="data-pane-body">
    <p>The bulk importer allows you to quickly import images, where each image is representitive of exactly one unique historic capture or capture. The image state you select below will be applied to all the historic capture or captures.</p>
    <%= simple_form_for @bulk_import_form, html: { class: 'bulk_import_form my_container' } do |f| %>
    <%= f.error_messages %>
    <%= f.hidden_field :parent_id, value: @bulk_import_form.parent_id %>
    <%= f.hidden_field :parent_class, value: @bulk_import_form.parent_class %>
    <%= f.hidden_field :association, value: @bulk_import_form.association %>
    <%= f.input :images, as: :file, input_html: {multiple: true}%>
    <%= f.input :image_state, as: :select, collection: IMAGE_STATES.each.map{|s|[s,s]}, input_html: { class: 'image_state'}%>
    <p><%= f.button :submit, "Submit" %></p>
    <% end %>
  </div>
