<fieldset class='location my_container'>
<p>
  <% if params[:controller].present? && params[:controller]=='visits'%>
    <%= f.hidden_field :_destroy  %> <%# this hidden field must precede the link_to below. see javascript in form.js.erb%>
  	<%= link_to "Remove this location", '#', class: "remove_fields" %>
  <% end %>
  <%= f.input :location_identity, input_html: { class: 'input-mini'}%>
  <%= f.input :location_narrative, input_html: { rows: 6, class: 'span10'} %>
  <%= render 'shared/lat_long_fields', f:f %>
  <%= render 'location_images/location_image_fields_table', f: f %>

</p>
<% if params[:controller].present? && params[:controller]=='visits'%>
	<h3 class='capture_title'>Captures</h3>
		<%= f.fields_for :captures do |builder| %>
			<%= render 'captures/capture_fields', :f => builder %>
		<% end %>
	<%= link_to_add_fields "Add capture", f, :captures %>
<% end %>
</fieldset>
