<%= content_tag :div, class: "submenu_bar" do  %>
  <%=
      menu = Menu.new("Location",:boostrap)
      if current_user.try(:admin)
        menu.add link: link_to("<span class='icomoon-pencil submenu_icon' title='Edit'></span>Edit".html_safe, edit_location_path(@location.id), class: 'edit_link')
        menu.add link: link_to("<span class='icomoon-plus submenu_icon icon_next_to_word' title='Add Capture'></span>Add Capture".html_safe, new_location_capture_path(@location.id))
        menu.add link: link_to("<span class='icomoon-add-to-list submenu_icon icon_next_to_word' title='Bulk Capture Import'></span>Bulk Capture Import".html_safe, new_bulk_import_form_path(parent_id: @location.id, parent_class: @location.class.name, association: "captures"))
        menu.add_delete(url_for(@location), "Are you sure you want to delete this location and all its captures and capture images?")
      end
      menu.to_html
    %>
<% end %>
