<%= content_tag :div, class: "submenu_bar" do  %>
  <%= Menu.new("Edit Location",:boostrap).to_html %>
<% end %>
<div class='data-pane-body'>
  <%= breadcrumb_div(@location, separator: "/", with_self: true).html_safe %>
  <%= simple_form_for @location, html: { :class => 'location_form my_container' } do |f| %>
  <%= f.error_messages %>
  <%= render 'location_fields', f: f %>
  <%= f.button :submit, "Submit "%>
  <% end %>
</div>
