<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="navbar-inner">
	<a class='brand' href='/'>MEAT</a>
    <%# image_tag 'mountainlegacylogoSmall.png' %>
	<div class="nav-collapse">
	  <ul class='nav'>
		<li><a href='/'><span class='icomoon-home header_icon'></span>Home</a></li>
		<li><a href='/user_guide'><span class='icomoon-question header_icon'></span>User Guide</a></li>
           <li><a href='/faq'>FAQ</a></li>
            <% if current_user.try(:admin) %>
		  <li><a href='/settings'><span class='icomoon-cog header_icon'></span>Settings</a></li>
             <li><a href='/publisher'><span class='icomoon-publish header_icon'></span>Publisher</a></li>
            <% end %>
	  </ul>
    </div>
    <div class='nav-authenticate'>
      <ul class ='nav'>
      <% if user_signed_in? %>
        <li><%= link_to 'Edit profile', main_app.edit_user_registration_path %></li>
        <li><%= link_to "Logout", main_app.destroy_user_session_path, method: :delete, data: { "skip-pjax": true } %></li>
      <% else %>
        <li><%= link_to "Request Admin Account", main_app.new_user_registration_path %></li>
        <li><%= link_to "Login", main_app.new_user_session_path %></liv>
      <% end %>
    </ul>
    </div>
  </div>
</header>
