<%
  #sets up the "active" navigation state based on session
  map_class, tree_class, filter_class, search_class = "", "", "",""
  if session[:nav_state]=='map'
    map_class="active"
  elsif session[:nav_state]=='search'
    search_class = "active"
  else
    tree_class = "active"
  end
%>
<div class='submenu_bar'>
  <div class="navbar">
    <div class="navbar-inner">
      <div class='container' style='width: auto;'>
        <ul class='nav' role='navigation'>
          <li class="<%= tree_class %>"><%= link_to('<span class="icomoon-sitemap" title="Tree View"></span>'.html_safe, filter_path("none"), {:data => {skip_pjax: true}}) %></li>
          <li class="<%= map_class %>"><%= link_to('<span class="icomoon-earth" title="Map View"></span>'.html_safe, map_path, {:data => {skip_pjax: true}, id: "map_link"}) %></li>
        </ul>
        <ul id='toggle_nav_menu' class='nav pull-right'>
          <li><a id='toggle_nav_close'><span class='icomoon-minus' title='Collapse Navigation Bar'></span></a></li>
        </ul>
        <form accept-charset="UTF-8" class="navbar-search pull-right" action="/search" method="get">
          <input id="query" name="query" type="text" class="search-query" />
        </form>
      </div>
    </div>
  </div>
</div>
