<a id='filter_description_link' href="#filter_description_modal"  role='button' data-toggle="modal"><span class='icomoon-question'></span></a>

<div id="filter_description_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="filter_description_label" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="filter_description_label">Station Filters</h3>
  </div>
  <div class="modal-body">
    <p>Station filters provide a means to filter the navigation based on a certain filter criteria. To remove a filter, select 'No Filter' in the select menu.</p>
    <table id='tree_legend' class='table'>
      <tr><th>Name</th><th>Description</th></tr>
      <tbody>
        <% Station.issue_filters.each do |filter| %>
        <tr><td class='filter_column'><%= t("filters.#{filter.to_s}.short_name", :default => filter.to_s) %></td>
          <td><%= t("filters.#{filter.to_s}.description", :default => filter.to_s) %></td></tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>


