<a id='tree_legend_link' href="#tree_legend_modal"  role='button' data-toggle="modal">Legend</a>

<div id="tree_legend_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 id="myModalLabel">Station Folder Icon Legend</h3>
  </div>
  <div class="modal-body">
    <table id='tree_legend' class='table'>
      <tbody>
        <tr><td class='icon_column'><%= image_tag(asset_path('station_red_folder.png'), alt: 'red folder') %></td>
          <td>Station has issues that need to be resolved.</td></tr>
        <tr><td class='icon_column'><%= image_tag(asset_path('station_folder.png'), alt: 'blue folder') %></td>
          <td>Station is healthy</td></tr>
        <tr><td class='icon_column'><% image_tag(asset_path('tree_legend_G.png'), alt: 'Grouped') %></td>
          <td>Station is in the 'Grouped' state. It contains historic captures that have been grouped together as a
            single historic station, but the location of this station has not been estimated.</td></tr>
        <tr><td class='icon_column'><% image_tag(asset_path('tree_legend_marker.png'), alt: 'Located') %></td>
          <td>Station is in the 'Located' state. It contains grouped historic captures and the location of the station
            has been estimated. Historic captures have not been repeated.</td></tr>
        <tr><td class='icon_column'><% image_tag(asset_path('tree_legend_R.png'), alt: 'Repeated') %></td>
          <td>Station is in the 'Repeated' state. The station contains repeat captures, but at least one of these captures
            need to be mastered with its historic capture counterpart</td></tr>
        <tr><td class='icon_column'><% image_tag(asset_path('tree_legend_green_dot.png'), alt: 'Partially Mastered') %></td>
          <td>Station is in the 'Partially Mastered' state. The station contains repeat captures and at least one of them has been mastered, while others
            still require mastering.</td></tr>
        <tr><td class='icon_column'><% image_tag(asset_path('tree_legend_check.png'), alt: 'Mastered') %></td>
          <td>Station is in the 'Mastered' state. The station has been repeated and all of its captures have been
            mastered.</td></tr>
      </tbody>
    </table>
  </div>
</div>


