<!DOCTYPE html>
<html>
  <head>
    <title>MLP Editing and Administering Tool | <%= get_title_page(@current_node_ivar) %></title>
    <%= include_gon %>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  </head>
<script type="text/javascript">
window.isAdmin =  <%=current_user.try(:admin) ? true : false%>;
window.current_tree_node = '<%= session[:current_tree_node] %>';
</script>
  <body class='nav_and_data_pane'>
	<%= render 'layouts/header' %>
  <% if current_user.try(:admin) && current_user.try(:email)=='sunyata@uvic.ca'%>
    <div class='alert alert-danger' style='position:absolute;right:0;bottom:0;width:250px;z-index:9999'>You are current using the <strong>super admin account</strong>. This should only be used for <strong>deleting surveyors, surveys, survey seasons, and projects</strong> that contain data. Once you've completed your task, please use a normal admin account to edit MEAT.
    </div>
  <% end %>
  <div id='pane_container'>
    <div class="container-fluid">
	<div id='flash-message'>
    <% flash.each do |key, value| %>
		<%= javascript_tag "$.jGrowl('#{value}',{theme: 'flash_#{key}' });" %>
		<%#= content_tag(:div, value, id: "flash_#{key}", class: "alert alert-#{key}") %>
      <% end %>
    </div>
	<div class='row-fluid'>
		<div id='nav-pane' class='span5'>
                <div class='collapsed_overlay'><span id='toggle_nav_open' class='icomoon-plus' title='Expand Navigation Bar'></span></div>
                <%= render 'layouts/nav_header' %>
			<% if session[:nav_state]=="search" %>
                      <%= render 'search/results', search: @search %>
                <% elsif session[:nav_state]=="map" %>
                      <%= render 'layouts/map', map: @map %>
                <% else %>
                  <div id='tree_body'>
                      <div class='pane_info'>
                        <%= link_to new_surveyor_path do %>
                          <span id='add_surveyor_icon' class='icomoon-surveyor_plus' title='Add Surveyor'></span> Add Surveyor
                        <% end %> -
                        <%= link_to new_project_path do %>
                          <span id='add_project_icon' class='icomoon-project_plus' title='Add Project'></span> Add Project
                        <% end %>
                        <hr>
                        <span class='icomoon-filter' title='Station Filters'></span>
                        <select id="filters_select">
                          <option value=''>Select a Station Filter</option>
                          <option value='<%= filter_path("none") %>'>No Filter</option>
                          <optgroup label='Procedural'>
                            <% Station.process_filters.each do |filter| %>
                              <option <%= 'selected' if session[:filter]==filter.to_s %> value='<%= filter_path(filter.to_s) %>'><%= t("filters.#{filter.to_s}.short_name", :default => filter.to_s) %></option>
                            <% end %>
                        </optgroup>
                        <optgroup label='Needs Fixing'>
                            <% Station.issue_filters.each do |filter| %>
                              <option <%= 'selected' if session[:filter]==filter.to_s %> value='<%= filter_path(filter.to_s) %>'><%= t("filters.#{filter.to_s}.short_name", :default => filter.to_s) %></option>
                            <% end %>
                        </optgroup>
                        <optgroup label='Other'>
                            <% Station.other_filters.each do |filter| %>
                              <option <%= 'selected' if session[:filter]==filter.to_s %> value='<%= filter_path(filter.to_s) %>'><%= t("filters.#{filter.to_s}.short_name", :default => filter.to_s) %></option>
                            <% end %>
                        </optgroup>
                        </select>
                        <%= render 'layouts/station_filter_descriptions' %>
                        <hr>
                        <%= render 'layouts/tree_legend' %>
                      </div>
                      <div id='treeViewDiv' >
      	 		</div>
                  </div>
                <% end %>
		</div>
		<div id='data-pane' class='span7' data-pjax-container>
      		<%= yield %>
		</div>
	</div>
</div>
  <script type="text/javascript" charset="utf-8">
  /* Temporary fix for issue with chrome not showing icon fonts */
  $(function() { $('[class^=icomoon-]').hide().show(); });
  </script>
  </body>
  <%= content_for(:map_scripts) %>
</html>
