<!DOCTYPE html>
<html>
  <head>
    <title>MLP Editing and Administering Tool | <%= get_title_page %></title>
    <%= stylesheet_link_tag    "application", media: "all" %>
    <%= javascript_include_tag "application" %>
	<%= csrf_meta_tags %>
  </head>
  <body class='no_nav_pane'>
	<%= render 'layouts/header' %>
    <div class="container-fluid">
      <div class="no_nav_container">
       <div class='row-fluid'>
        <div class='span12'>
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
  </body>
</html>
